<nav class="navbar fixed-top navar-dark navbar-expand-md bg-success text-white">
    <a href="/" class="text-white navbar-brand">
    <i class="fab fa-pagelines"></i> ShoppingToday
    </a> <!--
    <button class="'navbar-toggle" type="button" data-toggle-"collaspe" data-target='#navbarCollapse' aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarCollapse" >
        <ul class="navbar-nav mr-auto menu" ></ul>
    </div> -->
</nav>
    <div class="container mt-4">
        <main class="main" role="main">
            <div class="row">
                <div class="col">
                    <h1 class="header"> Orders</h1>
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thread>
                                <tr>
                                    <th class="tablem1">Id</th>
                                    <th class="tablem2">Order</th>
                                    <th class="tablem3">Total</th>
                                    <th class="tablem4"></th>
                                </tr>
                            </thread>
                            <tbody>
                                {{#each order}}
                                        <tr>
                                            <td class="td11">{{this._id}}</td>
                                            <td class="td12">{{this.order}}</td>
                                            <td class="td13">{{this.total}}</td>
                                            <td class="td14">
                                                <a href="/order/{{this._id}}" class="btn btn-primary">Update</a>
                                                <a href="/order/delete/{{this._id}}" class="btn btn-danger" >Delete </a>
                                            </td>
                                        </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
