<h1 style="text-align: center;margin:30px">Welcome {{name}}</h1>
{{#if bloglength}}
<h2>here is all you blogs</h2>
{{#each blogs}}
<li><strong>{{this.title}}</strong></li>
<p>{{this.content}}</p>
<span style="display: inline">
    <form style="display: inline;" method='POST' action='/blog/delete/{{this.id}}?_method=DELETE'>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Delete</button>
    </form>
    <form style="display: inline;" method='POST' action='/blog/update/{{this.id}}'>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Edit</button>
    </form>
</span>
{{/each}}
{{else}}
<h2>Write a new blog</h2>
{{/if}}